.link-international {
    background: rgb(65, 143, 222);
}

.link-emea {
    background: rgb(255,89,0);
  }

.link-na {
    background: rgb(234,50,50);
}

.link-br-latam {
    background: rgb(36, 119, 30);
}

.link-apac {
    background: rgb(250,41,106);
  }

.link-east-asia {
    background: rgb(16,3,163);
}
